VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

VITE_ID_PROVIDER=mock
VITE_ONFIDO_VERIFY_ENDPOINT=
VITE_ONFIDO_API_KEY=
VITE_VERIFF_VERIFY_ENDPOINT=
VITE_VERIFF_API_KEY=

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
